/* type selector  */
body {
    background-color: lightblue;
}

.burger {
    color: red;
}

/* class selector */
.apple {
    background-color: pink;
}

/* id selector */
#gold {
    background-color: gold;
    color: tomato
}

.heading {
    color: purple
}

#header {
    background-color: lightgreen;
}